body {
  color: rgb(233, 233, 233);
  background: #1b1b1b;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  padding: 10px 20px;
}

h1 {
  font-family: 'Jetbrains Mono';
  color: #e3ee45;
}

a {
  color: #e3ee45;
}

img {
  width: 100%;
  border: 1px solid white;
}

code {
  background-color: #333;
  padding: 3px 5px;
}